/* ==========================================================================
   COLORS
   ========================================================================== */

$black: #000;
$white: #fff;
$lightGray: #ececec;

$blue1: #E8F8FF;
$blue2: #B4DCED;
$blue3: #91C9E8;
$blue4: #67B8DE;
$blue5: #3399CC;