
/* ==========================================================================
   GLOBALS
   ========================================================================== */


/*
   SUSY GRID BOWER IMPORT AND GRID DECLARATIONS
   ========================================================================== */
$susy: (
  columns: 12,
  gutters:1/4,
  math: fluid,
  output: float,
  gutter-position:inside,
);

$small: 400px;
$medium: 600px;
$large: 1000px;
$extra-large: 1400px;

$target1: 1px solid red;
$target2: 1px solid green;
$target3: 1px solid blue;

$base-font-size: 14px;

#body-container{
  @include container;
}