/* ==========================================================================
  TYPOGRAPHY
 ========================================================================== */

// FONT MIXINS
$source: 'Source Sans Pro', sans-serif;
$play: 'Playfair Display', serif;


// TYPOGRAPHY STANDARDS
html, body{
  font-family: Helvetica, Arial, sans-serif;;
}